h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Redondeamos TODAS las imágenes */
img {
    border-radius: 100px;
}

/* Bloques alineados en paralelo */
div#BarChart,
div#DonutChart {
    display: inline-block;
    margin: 20px;
}